@model lab4.ViewModels.InvestorViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="badge rounded-pill bg-secondary">Create New</a>
</p>
<form action="@Url.Action("Index","Investors")" method="post">
    Имя:@Html.TextBox("Name", Model.Name)
    Фамилия:@Html.TextBox("Surname", Model.Surname)
    Отчество:@Html.TextBox("Middlename", Model.Middlename)
    Адресс:@Html.TextBox("Address", Model.Address)
    Номер телефона:@Html.TextBox("Phonenumber", Model.Phonenumber)
    Пасорт:@Html.TextBox("PassportId", Model.PassportId)
    <input type="submit" value="Найти"></input>
</form>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Middlename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.investors) {
        <tr class="table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Middlename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportId)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="badge bg-primary">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="badge bg-primary">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="badge bg-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>
